.dish-group
	position: relative
	overflow: hidden
	padding: calc(6px + 1rem)
	background-color: #fff

.dish-group_opened
	margin-top: calc(24px + 1.5rem
	position: relative
	display: flex
	justify-content: space-between
	align-content: flex-start
	flex-wrap: wrap
	width: 100%
	background-color: $primary-bg-color
	padding: 2.2rem

.dish-group__img
	width: 100%
	height: auto
	border-radius: 3px
	cursor: pointer

.dish-group__title
	display: inline
	position: absolute
	right: calc(6px + 1rem)
	bottom: calc(6px + 1rem)
	left: calc(6px + 1rem)
	padding: 1.5rem 1rem 2rem
	line-height: 100%
	background-color: #fff
	opacity: .5
	font-family: 'Segoe UI', sans-serif
	font-size: calc(16px + 1rem)
	@media (max-width: 575px)
		text-align: center
	cursor: pointer
