.dish-group
	position: relative
	overflow: hidden
	padding: 15px
	cursor: pointer
	background-color: #fff

.dish-group__nav
	position: absolute
	top: 0
	left: 0
	width: 100%

.all-dish-groups
	display: inline-block
	padding: 2rem
	cursor: pointer

.current-dish-group
	display: inline-block
	padding: 2rem
	cursor: pointer

.dish-group_opened
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	width: 100%
	position: relative
	padding-top: 80px

.dish-group__img
	width: 100%
	height: auto
	border-radius: 3px

.dish-group__title
	position: absolute
	bottom: 3rem
	left: 0
	width: 100%
	padding: 1rem 2rem
	background-color: #fff
	opacity: .5
	font-family: 'Segoe UI', sans-serif
	font-size: 2rem
