form.add-recipe(action="#")

	section.add-recipe__section
		.add-recipe__section-title Группа
		select(name='select' class='add-recipe__dish-group')
			option(value="deserts") Десерты
			option(value="soups") Супы
			option(value="bread") Хлеб
			option(value="salads") Салаты
		
	section.add-recipe__section
		.add-recipe__section-title Название блюда 
		input(type="text" name="title" size="40" class="add-recipe__title")
		
	section.add-recipe__section
		.add-recipe__section-title Описание 
		input(type="text" name="description" size="60" class="add-recipe__description")
  
	section.add-recipe__section
		.add-recipe__image-button Изображение
			input(type="file" name="image" class="add-recipe__image-input")
		label(for='add-recipe__image-input' class='add-recipe__image-label')
		img(class='add-recipe__image-preview' src='#')
  
	section.add-recipe__section.add-recipe__ingredients
		.add-recipe__section-title Ингредиенты
		input(type="text" name="ingredient" size="40" class="add-recipe__ingredient-input")
		.add-recipe__new-ingredient-btn +
  
	section.add-recipe__section.add-recipe__steps
		.add-recipe__section-title Этапы приготовления 
		input(type="text" name="step" size="60" class='add-recipe__step-input')
		.add-recipe__new-step-btn +
		
	input(type="submit" value="Сохранить" class="add-recipe__save-btn")
	input(type='reset' value='Очистить форму' class="add-recipe__reset-btn")

	section
		.add-recipe__section-title Result JSON:
		pre.add-recipe__result-json

		//- form.add-recipe(action="upload.php" method="post")
