mixin add-recipe
	form(action="#" method="post").add-recipe&attributes(attributes)

		section.add-recipe__section
			.add-recipe__section-title Группа
			select(name="select").add-recipe__dish-group.add-recipe__select-input
				option(value="deserts") Десерты
				option(value="bread") Хлеб
				option(value="meat") Блюда из мяса
				option(value="soups") Супы
				option(value="salads") Салаты
				option(value="fish") Блюда из рыбы
				option(value="canape") Фуршетный стол
				option(value="drinks") Напитки
			
		section.add-recipe__section
			.add-recipe__section-title Название блюда 
			input(type="text" name="title" required).add-recipe__title-input.add-recipe__text-input
			
		section.add-recipe__section
			.add-recipe__section-title Описание 
			input(type="text" name="description").add-recipe__description-input.add-recipe__text-input
	  
		
		section.add-recipe__section
			.add-recipe__section-title Изображение
			.add-recipe__image-button Выбрать файл
				input(type="file" name="image" class="add-recipe__image-input")
			.add-recipe__image-preview-wrap
				img(class="add-recipe__image-preview")
				input(type="button" value="Обрезать изображение" class="add-recipe__crop-btn")
			.add-recipe__image-result-wrap
				img(class="add-recipe__image-result")
			//- obj(type="image/png")
			//- 	img(class="add-recipe__image-preview")
			//- obj(type="image/png")
			//- 	img(class="add-recipe__image-resized")
	  
		section.add-recipe__section
			.add-recipe__section-title Ингредиенты
			.add-recipe__input-wrapper
				input(type="text" name="ingredient").add-recipe__ingredient-input.add-recipe__text-input
				.add-recipe__new-ingredient-btn
			.add-recipe__ingredients
	  
		section.add-recipe__section
			.add-recipe__section-title Этапы приготовления 
			.add-recipe__input-wrapper
				input(type="text" name="step").add-recipe__step-input.add-recipe__text-input
				.add-recipe__new-step-btn
			.add-recipe__steps
		
		section.add-recipe__section
			input(type="submit" value="Сохранить" class="add-recipe__save-btn")
			input(type="reset" value="Очистить форму" class="add-recipe__reset-btn")
