mixin add-recipe
	form(action="#" method="post").add-recipe&attributes(attributes)

		//- TODO: add fieldsets
		section.form__section
			span.form__select-input
				select(name="select" required).add-recipe__dish-group
					option(class="titleOption" hidden value="") Выбрать группу
					option(value="deserts") Десерты
					option(value="bread") Хлеб
					option(value="meat") Блюда из мяса
					option(value="soups") Супы
					option(value="salads") Салаты
					option(value="fish") Блюда из рыбы
					option(value="canape") Фуршетный стол
					option(value="drinks") Напитки
			
		section.form__section
			input(type="text" name="title" placeholder="Название блюда" required).add-recipe__title-input.form__text-input
			
		section.form__section
			input(type="text" name="description" placeholder="Описание").add-recipe__description-input.form__text-input
	  
		section.form__section
			input(type="button" value="Добавить изображение" class="add-recipe__open-editor-btn form__btn")
			.add-recipe__image-preview-wrap
				.add-recipe__img-wrap
					img(class="add-recipe__image-preview")
				.add-recipe__img-wrap
					img(class="add-recipe__image-preview-min")
			
		section.form__section
			.add-recipe__input-wrapper
				input(type="text" name="ingredient" placeholder="Добавить ингредиент").add-recipe__ingredient-input.form__text-input
				.add-recipe__new-ingredient-btn
			.add-recipe__ingredients
	  
		section.form__section
			.add-recipe__input-wrapper
				input(type="text" name="step" placeholder="Добавить этап приготовления").add-recipe__step-input.form__text-input
				.add-recipe__new-step-btn
			.add-recipe__steps
		
		section.form__controls
			input(type="submit" value="Сохранить" class="add-recipe__save-btn form__btn")
			input(type="reset" value="Очистить форму" class="add-recipe__reset-btn form__btn")
