.add-recipe__image-preview-wrap
	display: none
	margin-top: calc(8px + .5rem)
	position: relative
	width: 100%
	background-color: #eee

.add-recipe__img-wrap
	flex-shrink: 1
	padding: 1rem

.add-recipe__image-preview, .add-recipe__image-preview-min
	width: 100%

.add-recipe__input-wrapper
	display: flex
	flex-wrap: nowrap
	align-items: stretch

.add-recipe__ingredient-input, .add-recipe__step-input
	flex: 2
	border-top-right-radius: 0
	border-bottom-right-radius: 0
	border-right: none
	padding-left: 1rem
	transition: color 1500ms
	user-select: none

.add-recipe__new-ingredient-btn, .add-recipe__new-step-btn
	width: calc(20px + 2rem)
	height: calc(20px + 2rem)
	position: relative
	background-color: $secondary-bg-color
	cursor: pointer
	&::before
		width: calc(10px + .7rem)
		height: calc(10px + .7rem)
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		background-image: url('../images/add-recipe__new-item-btn.svg')
		background-size: contain
		content: ''
	&:hover
		background-color: #eee

.add-recipe__new-item
	display: inline-block
	margin: 1rem calc(16px + 3rem) 0 0
	position: relative
	padding: .5rem
	background-color: $tertiary-bg-color
	font-size: calc(8px + .5rem)
	color: #fff

.add-recipe__delete-item
	position: absolute
	top: 0
	left: 100%
	background-color: $secondary-bg-color
	width: calc(16px + 1rem)
	height: 100%
	cursor: pointer
	&::after
		width: calc(6px + .5rem)
		height: calc(6px + .5rem)
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		content: ''
		background-image: url('../images/nav__close-button.svg')
		background-size: cover
	&:hover
		background-color: #eee

.add-recipe__controls
	margin-top: calc(8px + 1rem)
	display: flex
	justify-content: space-between
