mixin add-recipe
	form(action="#" method="post").add-recipe&attributes(attributes)

		//- TODO: add fieldsets
		section.add-recipe__section
			select(name="select").add-recipe__dish-group.add-recipe__select-input
				option(hidden value="title") Выбрать группу
				option(value="deserts") Десерты
				option(value="bread") Хлеб
				option(value="meat") Блюда из мяса
				option(value="soups") Супы
				option(value="salads") Салаты
				option(value="fish") Блюда из рыбы
				option(value="canape") Фуршетный стол
				option(value="drinks") Напитки
			
		section.add-recipe__section
			input(type="text" name="title" value="Название блюда" required).add-recipe__title-input.add-recipe__text-input
			
		section.add-recipe__section
			input(type="text" name="description" value="Описание").add-recipe__description-input.add-recipe__text-input
	  
		section.add-recipe__section
			.add-recipe__open-editor-btn.button Добавить изображение
			.add-recipe__image-preview-wrap
				img(class="add-recipe__image-preview")
				img(class="add-recipe__image-preview-min")
			
		section.add-recipe__section
			.add-recipe__input-wrapper
				input(type="text" name="ingredient" value="Добавить ингредиент").add-recipe__ingredient-input.add-recipe__text-input
				.add-recipe__new-ingredient-btn
			.add-recipe__ingredients
	  
		section.add-recipe__section
			.add-recipe__input-wrapper
				input(type="text" name="step" value="Добавить этап приготовления").add-recipe__step-input.add-recipe__text-input
				.add-recipe__new-step-btn
			.add-recipe__steps
		
		section.add-recipe__section
			input(type="submit" value="Сохранить" class="add-recipe__save-btn button")
			input(type="reset" value="Очистить форму" class="add-recipe__reset-btn button")
