.add-recipe__image-preview-wrap
	display: none
	margin-bottom: calc(#{$input-margin} * 2)
	position: relative
	width: 100%
	background-color: $input-bg

.add-recipe__img-wrap
	flex-shrink: 1
	padding: $input-padding
	img
		width: 100%

.add-recipe__input-wrapper
	display: flex
	flex-wrap: nowrap
	align-items: stretch

.add-recipe__ingredient-input, .add-recipe__step-input
	flex: 2
	padding-left: $input-padding
	transition: color 1500ms
	user-select: none

.add-recipe__new-ingredient-btn, .add-recipe__new-step-btn
	width: $input-height
	height: $input-height
	position: relative
	background-color: $secondary-bg-color
	cursor: pointer
	&::before
		width: calc(10px + .7rem)
		height: calc(10px + .7rem)
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		background-image: url('../images/add-recipe__new-item-btn.svg')
		background-size: contain
		content: ''
	&:hover
		background-color: $input-bg

.add-recipe__new-item
	display: inline-block
	margin-top: $input-margin
	margin-right: calc(20px + 2rem)
	position: relative
	padding: $input-padding
	background-color: $tertiary-bg-color
	font-size: $input-font-size
	color: #fff

.add-recipe__delete-item
	position: absolute
	top: 0
	left: 100%
	background-color: $secondary-bg-color
	width: calc(16px + 1rem)
	height: 100%
	cursor: pointer
	&::after
		width: calc(6px + .5rem)
		height: calc(6px + .5rem)
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		content: ''
		background-image: url('../images/nav__close-button.svg')
		background-size: cover
	&:hover
		background-color: $input-bg
