@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;

	font-size: 1vw;
}

body {
	font-family: 'Montserrat', sans-serif
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
