@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
	height: 100vh;
	font-size: 1vw;
}

body {
	min-height: 100vh;
	position: relative;
	font-family: $primary-font;
	color: $primary-text-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}


// For correct 'block' display in IE
article, aside, footer, header, main, nav, section {
	display: block;
}

a {
	text-decoration: none;
}
