// Colors

// white
$primary-bg-color: #fff
// olive
// $secondary-bg-color: lighten(#A5AE55, 10%)
$secondary-bg-color: darken(#EDE7B5, 5%)
// red
$tertiary-bg-color: #952523
// $tertiary-bg-color: #de224c
// $tertiary-bg-color: #be2243

// black
$primary-text-color: #000
// red
$secondary-text-color: #dd234c
// white
$tertiary-text-color: #fff


// cornsilk
// $main-bg-color: #FFF8DC
// cream
// $main-bg-color: #FFFDD3


// Fonts

$primary-font: 'Segoe UI', sans-serif
$secondary-font: 'Segoe UI Light', sans-serif
$brand-font: 'Midnight Bangkok'



// Form inputs

$input-margin: calc(8px + .5rem)
$input-height: calc(20px + 2rem)
$input-padding: calc(8px + .5rem)
// $input-bg: #F2E3C6
$input-bg: $secondary-bg-color
$input-font-size: calc(8px + .5rem)
$input-font-weight: 700
$input-font-color: #000
