// Colors

$primary-bg-color: #fff
// brown
$primary-text-color: #49130c

// gray
$secondary-bg-color: #dfe2db
// red
$secondary-text-color: #dd234c

// red
$tertiary-bg-color: #be2243
// white
$tertiary-text-color: #fff



// Fonts

$primary-font: 'Segoe UI', sans-serif
$secondary-font: 'Segoe UI Light', sans-serif
$brand-font: 'Midnight Bangkok'



// Form inputs

$input-margin: calc(8px + .5rem)
$input-height: calc(20px + 2rem)
$input-padding: calc(8px + .5rem)
$input-bg: #eee
$input-font-size: calc(8px + .5rem)
$input-font-weight: 700
$input-font-color: #000
