.breadcrumb
	font-size: calc(10px + .5rem)

.breadcrumb__all-dish-groups,
.breadcrumb__current-dish-group
	display: inline-block
	margin-top: 2rem
	margin-right: 2rem
	margin-bottom: 0
	margin-left: 2rem
	cursor: pointer
	&:hover
		text-decoration: underline

.breadcrumb__current-recipe
	display: inline-block
	margin-top: 2rem
	margin-right: 2rem
	margin-bottom: 0
	margin-left: 2rem
	font-weight: 700

.breadcrumb__arrow
	display: inline-block
	width: 1rem
	height: 1rem
	vertical-align: middle
	content: url('../images/breadcrumb.svg')
