.auth-form
	.auth-form__inner
	.auth-form__content
		
		.auth-form__tabs
			a(href="#login" class="auth-form__tab auth-form__tab_active") Вход
			a(href="#register" class="auth-form__tab") Регистрация
			
		//- TODO: action, method
		form.auth-form__form.auth-form__login-form.auth-form__form_active#login
			.auth-form__header Добро пожаловать!
			.auth-form__sub-header Создайте свою коллекцию рецептов с Recipe Book
			input(type="text" placeholder="Логин" class="auth-form__login-username" required)
			input(type="password" placeholder="Пароль" class="auth-form__login-password" required)
			input(type="submit" value="Войти" class="auth-form__login-submit auth-form__button")
			
		form.auth-form__form.auth-form__register-form.auth-form__form_hidden#register
			.auth-form__header Вы здесь впервые?
			.auth-form__sub-header Зарегистрируйтесь, чтобы создать кулинарную книгу
			//- input(type="text" placeholder="Email" class="auth-form__register-email")
			input(type="text" placeholder="Введите логин" class="auth-form__register-username" required)
			input(type="password" placeholder="Введите пароль (минимум 6 символов)" class="auth-form__register-password" required)
			input(type="password" placeholder="Подтвердите пароль" class="auth-form__register-password-confirm" required)
			input(type="submit" value="Готово" class="auth-form__register-submit auth-form__button")
