.recipe-preview
	height: 15rem
	flex-basis: 48%
	@media (max-width: 767px)
		flex-basis: 100%
	@media (max-width: 575px)
		height: 25rem
	margin-bottom: 2.2rem
	&:last-child
		margin-bottom: 0
	&:nth-last-child(1)
		margin-bottom: 0
	display: flex
	flex-wrap: nowrap
	align-items: flex-start
	align-content: stretch
	box-shadow: 1px 1px 2px #ccc
	cursor: pointer

.recipe-preview__image
	height: 100%
	width: 15rem
	@media (max-width: 575px)
		width: 25rem
	flex-shrink: 0
	flex-grow: 0
	flex-basis: auto
	img
		height: 100%

.recipe-preview__content
	padding: 2rem

.recipe-preview__title
	font-size: calc(12px + .5rem)
	font-weight: 700

.recipe-preview__description
	padding-top: 1rem
	line-height: .9
	font-size: calc(10px + .5rem)

.recipe-preview__id
	display: none
