.recipe-preview
	display: flex
	margin-bottom: 3rem
	width: 48%
	height: 15rem
	@media (max-width: 575px)
		flex-basis: 100%
	@media (max-width: 767px)
		height: 25rem

	overflow: hidden
	box-shadow: 1px 1px 2px #ccc
	cursor: pointer

.recipe-preview__image
	flex-basis: 40%
	overflow: hidden
	img
		max-width: 100%

.recipe-preview__content
	flex-basis: 60%
	padding: 2rem

.recipe-preview__title
	font-size: calc(8px + 1rem)
	font-weight: 700

.recipe-preview__description
	padding-top: .8rem
	font-size: calc(8px + .5rem)
