.recipe-preview
	height: 15rem
	flex-basis: 48%
	@media (max-width: 767px)
		flex-basis: 100%
	@media (max-width: 575px)
		height: 25rem
	margin-bottom: 2.2rem
	&:last-child
		margin-bottom: 0
	display: flex
	flex-wrap: nowrap
	box-shadow: 1px 1px 2px #ccc
	cursor: pointer

.recipe-preview__image
	height: 100%
	display: inline-block
	vertical-align: top
	img
		height: 100%

.recipe-preview__content
	display: inline-block
	vertical-align: top
	padding: 2rem
	line-height: .9

.recipe-preview__title
	font-size: calc(12px + .5rem)
	font-weight: 700

.recipe-preview__description
	padding-top: 1rem
	font-size: calc(10px + .5rem)
