mixin nav()
	nav.nav&attributes(attributes)
		ul.nav__collapse
			li.nav__item
				a(href="index.html", class="nav__link nav__all-recipes") Главная
			li.nav__item
				a(href="events.html", class="nav__link nav__events") События
			li.nav__item
				a(href="try-new.html", class="nav__link nav__try-new") Попробовать
			li.nav__item
				a(href="dashboard.html", class="nav__link nav__dashboard") Панель управления
		.nav__button
