.nav.header__nav
	ul.nav__collapse
		li.nav__item
			a(href='#', class='nav__link') Рецепты
		li.nav__item
			a(href='#', class='nav__link') События		
		li.nav__item
			a(href='#', class='nav__link') Попробовать
		li.nav__item
			a(href='#', class='nav__link') Добавить рецепт
	.nav__button
