.nav__collapse
	display: block
	+clearfix()
	list-style: none
	@media (max-width: 767px)
		display: none
		position: absolute
		top: 100%
		left: 40%
		width: 60%
		border: 2px solid #fff
		z-index: 10
		background-color: $primary-bg-color
		opacity: .9
		padding-top: 3rem
		padding-bottom: 3rem

.nav__button
	float: right
	display: block
	@media (min-width: 768px)
		display: none
	margin: auto 2rem
	width: 20px
	height: 20px
	cursor: pointer

.nav__button_open
	&::after
		content: url('../images/nav__open-button.svg')

.nav__button_close
	&::after
		content: url('../images/nav__close-button.svg')

.nav__item
	display: inline-block
	float: left
	&:last-child
		float: right
	padding: 1rem 2rem
	@media (max-width: 767px)
		display: block
		float: none
		&:last-child
			float: none
		text-align: left
		padding: 2rem 5rem 1rem

.nav__link
	display: block
	color: #49130c
	font-size: calc(10px + .5rem)
	&:hover
		font-weight: 700
