.photo-editor
	position: fixed
	z-index: 100
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: $primary-text-color

.photo-editor__inner
	position: relative
	margin: auto
	margin-top: 5%
	width: 70%
	border-radius: 3px
	background-color: $primary-bg-color

.photo-editor__section
	display: none

.photo-editor__section-active
	display: block

.photo-editor__tabs
	display: flex
	align-content: stretch

.photo-editor__tab
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	flex: 1
	padding: 1.5rem .5rem
	background-color: #ccc
	font-size: calc(8px + .5rem)
	color: lighten(#000, 20%)
	&:hover
		background-color: lighten(#ccc, 10%)

.photo-editor__tab-active
	background-color: #fff
	&:hover
		background-color: darken(#fff, 2%)

.photo-editor__section
	text-align: center

.photo-editor__description
	padding: 2rem
	font-size: calc(8px + .5rem)

.photo-editor__choose-file-btn, .photo-editor__crop-btn, .photo-editor__crop-min-btn
	position: relative
	margin: 2rem auto

.photo-editor__choose-file-btn
	display: flex
	align-items: center
	width: max-content
	&:hover
		background-color: darken($input-bg, 10%)
		color: $input-font-color
		cursor: pointer

.photo-editor__file-input
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	opacity: 0
	cursor: pointer

.photo-editor__image-load-wrap, .photo-editor__image-crop-wrap, .photo-editor__crop-min-wrap
	position: relative
	width: 100%
	display: flex
	justify-content: center
	background-color: #ccc
	text-align: center

.photo-editor__image-load, .photo-editor__image-crop, .photo-editor__image-crop-min
	max-height: calc(100px + 10rem)
	max-width: 100%

.photo-editor__controls
	position: relative
	width: 100%
	display: flex
	justify-content: space-between
	padding: calc(8px + 1rem)

.photo-editor__btn_right
	margin-left: auto

.photo-editor__close-btn
	display: block
	position: absolute
	top: 0
	left: calc(100% + .5rem)
	width: calc(10px + .6rem)
	height: calc(10px + .6rem)
	transition: .5s
	background: url('../images/nav__close-button.svg') no-repeat 0 0
	// &::after
	// 	content: url('../images/nav__close-button.svg')
	&:hover
		width: calc(10px + 1rem)
		height: calc(10px + 1rem)
		cursor: pointer
