.button
	width: max-content
	border: .3rem solid $tertiary-bg-color
	border-radius: 3px
	padding: .5rem 1rem
	background-color: $tertiary-bg-color
	color: #fff
	transition-duration: .4s
	cursor: pointer
	&:hover
		background-color: #fff
		color: $secondary-text-color

.button_disabled
	width: max-content
	border: .3rem solid $tertiary-bg-color
	border-radius: 3px
	padding: .5rem 1rem
	background-color: $tertiary-bg-color
	color: #fff
	opacity: .5
	cursor: default
	&:hover
		background-color: $tertiary-bg-color
		color: #fff
