include ../dish-group/dish-group

.all-recipes
	+dish-group('Десерты', 'assets/images/baking.png')(class='all-recipes__dish-group')
	+dish-group('Хлеб', 'assets/images/bread.png')(class='all-recipes__dish-group')
	+dish-group('Блюда из мяса', 'assets/images/meat.png')(class='all-recipes__dish-group')
	+dish-group('Супы', 'assets/images/soups.png')(class='all-recipes__dish-group')
	+dish-group('Салаты', 'assets/images/salads.png')(class='all-recipes__dish-group')
	+dish-group('Блюда из рыбы', 'assets/images/fish.png')(class='all-recipes__dish-group')
	+dish-group('Фуршетный стол', 'assets/images/canape.png')(class='all-recipes__dish-group')
	+dish-group('Напитки', 'assets/images/drinks.png')(class='all-recipes__dish-group')
