.all-recipes
	position: relative
	margin: 3rem 0
	display: flex
	justify-content: flex-start
	align-items: stretch
	flex-flow: row wrap
	align-content: space-around
	padding: calc(6px + 1rem)
	// background-color: $primary-bg-color
	background-color: $secondary-bg-color

.all-recipes__breadcrumb
	position: absolute
	top: 0
	left: 0
	width: 100%

.all-recipes__dish-group
	flex: 0 1 auto
	width: 50%
	@media (min-width: 768px)
		width: 25%
