include ../dish-group/dish-group

.all-recipes
	+dish-group('Десерты', 'assets/images/baking.png')(class='all-recipes__dish-group')
	+dish-group('Хлеб', 'assets/images/bread.png')(class='all-recipes__dish-group')
	+dish-group('Супы', 'assets/images/soups.png')(class='all-recipes__dish-group')
	+dish-group('Салаты', 'assets/images/salads.png')(class='all-recipes__dish-group')
