doctype	html
html(lang='ru')
	include ../blocks/head/head
	body
		include ../blocks/header/header
		main.container
			include ../blocks/events/events
		include ../blocks/footer/footer
		script(src='assets/scripts/scripts.js')
