doctype	html
html(lang='ru')
	include ../blocks/head/head
	body
		include ../blocks/header/header
		main.container
			include ../blocks/all-recipes/all-recipes
		include ../blocks/footer/footer
		script(src='assets/scripts/scripts.js')
