doctype	html
html(lang='ru')
	include ../blocks/head/head
	body
		header.grid__row.header
			img(class='.header__logo', src='assets/images/logo.png', alt='Recipe Book')
			
		.grid
			main.grid__row
				.grid__item.dish-group
					img(class='dish-group__img', src='assets/images/soups.jpg', alt='Soups')
					.dish-group__title Soups
				.grid__item.dish-group
					img(class='dish-group__img', src='assets/images/soups.jpg', alt='Soups')
					.dish-group__title Soups
				.grid__item.dish-group
					img(class='dish-group__img', src='assets/images/soups.jpg', alt='Soups')
					.dish-group__title Soups
				.grid__item.dish-group
					img(class='dish-group__img', src='assets/images/soups.jpg', alt='Soups')
					.dish-group__title Soups
				.grid__item.dish-group
					img(class='dish-group__img', src='assets/images/soups.jpg', alt='Soups')
					.dish-group__title Soups
