doctype	html
html(lang='ru')
	include ../blocks/head/head
	include ../blocks/recipe-preview/recipe-preview
	body

		header.header
				img(class='header__logo', src='assets/images/logo.png', alt='Recipe Book')
				.nav.header__nav
					ul.nav__collapse
						li.nav__item
							a(href='#', class='nav__link') Рецепты
						li.nav__item
							a(href='#', class='nav__link') События		
						li.nav__item
							a(href='#', class='nav__link') Попробовать
						li.nav__item
							a(href='#', class='nav__link') Добавить рецепт
					.nav__button
						
		.container
			main.main
				//- .main__dish-group.dish-group
				//- 	img(class='dish-group__img', src='assets/images/soups.jpg', alt='Soups')
				//- 	.dish-group__title Супы
				//- .main__dish-group.dish-group
				//- 	img(class='dish-group__img', src='assets/images/soups.jpg', alt='Soups')
				//- 	.dish-group__title Салаты
				//- .main__dish-group.dish-group
				//- 	img(class='dish-group__img', src='assets/images/soups.jpg', alt='Soups')
				//- 	.dish-group__title Десерты
				//- .main__dish-group.dish-group
				//- 	img(class='dish-group__img', src='assets/images/soups.jpg', alt='Soups')
				//- 	.dish-group__title Блюда из мяса
					
				//- section.dish-group_opened
				//- 	.all-dish-groups Все рецепты
					//- .current-dish-group
					//- +recipe-preview('Тыквенные маффины', 'Маффины с тыквенным пюре')
					//- +recipe-preview('Тыквенные маффины', 'Маффины с тыквенным пюре')
					//- +recipe-preview('Тыквенные маффины', 'Маффины с тыквенным пюре')
					//- +recipe-preview('Тыквенные маффины', 'Маффины с тыквенным пюре')
				
		script(src='assets/scripts/scripts.js')
