doctype	html
html(lang='ru')
	include ../blocks/head/head
	body
		include ../blocks/header/header
		main.container
			include ../blocks/try-new/try-new
		include ../blocks/footer/footer
		script(src='assets/scripts/scripts.js')
