.recipe 
	.recipe__image
	.recipe__content
		.recipe__title Тыквенные маффины
		ul.recipe__components
			li.recipe__item component
			li.recipe__item component
			li.recipe__item component
			li.recipe__item component
			li.recipe__item component
			li.recipe__item component
			li.recipe__item component
			li.recipe__item component
	.recipe__details
		p.recipe__step В глубокой чашке смешайте муку, разрыхлитель, корицу, имбирь, мускатный орех, гвоздику и соль. В другой чашке с помощью миксера размешайте масло и сахар до рассыпчатой консистенции.
		p.recipe__step К маслу и сахару добавьте яйца, тщательно взбивая смесь. Добавьте тыквенное пюре и ванильный экстракт и перемешайте.
		p.recipe__step Затем в тыквенную смесь всыпьте сухие ингредиенты из первой чашки и слегка взбейте миксером до однородной консистенции. Смажьте форму для выпекания маслом или вложите в каждое углубление по одной бумажной формочке для маффинов. Выложите тесто в формочки так, чтобы оно заполнило их примерно на три четверти.
