.recipe
	padding: 0 3rem
	display: flex
	flex-wrap: wrap
	align-content: center
	width: 100%

.recipe__image
	flex-basis: 100%
	overflow: hidden
	text-align: center
	img
		width: 100%

.recipe__title
	flex-basis: 100%
	padding-bottom: 2rem
	text-align: center
	font-size: calc(10px + 2rem)
	font-weight: 700

.recipe__ingredients-title
	flex-basis: 100%
	padding: 2rem 0
	font-size: calc(10px + .8rem)

.recipe__ingredients
	flex-basis: 100%

.recipe__ingredient
	display: block
	position: relative
	padding: .4rem 0
	font-family: $secondary-font
	font-size: calc(8px + .6rem)
	&::before
		content: '\002714'
		padding-right: 10px

.recipe__steps-title
	padding-bottom: 2rem
	font-size: calc(10px + .8rem)

.recipe__steps
	flex-basis: 100%
	margin: 2rem 0

.recipe__step
	padding-bottom: 1rem
	font-size: calc(8px + .6rem)
