header.header.text-center
	.container
		.row
			.col-sm-3.col-md-4
				.header__title 
					|We solve
					br
					|your problems
				.header__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec accumsan velit.			
				.header__description Ut gravida id sem id sodales. Aenean quis enim dui. Vestibulum ullamcorper vel urna quis congue.
			.col-sm-3.col-md-4
				.header__title 
					|We solve
					br
					|your problems
				.header__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec accumsan velit.			
				.header__description Ut gravida id sem id sodales. Aenean quis enim dui. Vestibulum ullamcorper vel urna quis congue.
			.col-sm-6.col-md-4
				.header__title 
					|We solve
					br
					|your problems
				.header__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec accumsan velit.			
				.header__description Ut gravida id sem id sodales. Aenean quis enim dui. Vestibulum ullamcorper vel urna quis congue.
