.header
	display: flex
	justify-content: space-between
	flex-wrap: nowrap
	align-items: center
	width: 100%
	min-width: 300px
	max-height: 70px
	@media (max-width: 450px)
		max-height: 50px
		padding-right: 2rem
		padding-left: 2rem
	position: relative
	background-color: $primary-bg-color
	box-shadow: 0 2px 3px darken($main-bg-color, 15%)

.header__logo
	padding-left: 2rem
	padding-right: 1rem
	height: 70px
	@media (max-width: 450px)
		height: 50px

.header__brand
	padding-right: 4rem
	font-family: $brand-font
	font-size: calc(20px + 2rem)
	color: $primary-text-color

.header__nav
	flex-grow: 2
	@media (max-width: 767px)
		flex-grow: 0

// TODO: add exit button when mobile nav is opened
