mixin delete-recipe
	form(action="#" method="post" class="delete-recipe")&attributes(attributes)

		section.delete-recipe__section
			label(for="delete-recipe__dish-group").delete-recipe__input-label Укажите группу
			select(name="groups").delete-recipe__dish-group.delete-recipe__select-input
			
		section.delete-recipe__section
			label(for="delete-recipe__recipe-to-delete").delete-recipe__input-label Укажите название рецепта
			select(name="recipes").delete-recipe__recipe-to-delete.delete-recipe__select-input
		
		section.delete-recipe__section
			input(type="button" value="Удалить" class="delete-recipe__delete-recipe")
