.footer
	margin-top: 5rem
	position: absolute
	top: 100%
	width: 100%
	padding: 5rem 0
	background-color: $primary-bg-color
	text-align: center
	font-size: calc(6px + 1em)
	color: $primary-text-color
