.modify-recipe__modify-area
	display: none

.modify-recipe__section-title
	margin-bottom: .5rem
	font-size: calc(8px + .5rem)

.modify-recipe__image-preview-wrap
	@extend .add-recipe__image-preview-wrap
	margin-bottom: 1rem
	display: flex
	@media (max-width: 575px)
		height: calc(60px + 10rem)
	@media (min-width: 576px)
		height: calc(100px + 10rem)

.modify-recipe__image-preview, .modify-recipe__image-preview-min
	height: 100%
	width: auto

.modify-recipe__ingredients, .modify-recipe__steps
	margin-bottom: 1rem

.modify-recipe__input-wrapper
	@extend .add-recipe__input-wrapper

.modify-recipe__new-ingredient-btn, .modify-recipe__new-step-btn
	@extend .add-recipe__new-ingredient-btn

.modify-recipe__new-item
	@extend .add-recipe__new-item

.modify-recipe__delete-item
	@extend .add-recipe__delete-item

.modify-recipe__modify-btn
	margin-left: 1rem
	display: inline-block
