.modify-recipe__modify-area
	display: none

.modify-recipe__section-title
	font-size: $input-font-size

.modify-recipe__image-preview-wrap
	@extend .add-recipe__image-preview-wrap
	margin-bottom: $input-margin
	display: flex

.modify-recipe__img-wrap
	@extend .add-recipe__img-wrap

.modify-recipe__ingredients, .modify-recipe__steps
	margin-bottom: $input-margin

.modify-recipe__input-wrapper
	@extend .add-recipe__input-wrapper

.modify-recipe__new-ingredient-btn, .modify-recipe__new-step-btn
	@extend .add-recipe__new-ingredient-btn

.modify-recipe__new-item
	@extend .add-recipe__new-item

.modify-recipe__delete-item
	@extend .add-recipe__delete-item
